.BookPage {
	display: flex;


	img {
		margin-left: 40px;
		margin-top: 120px;
		height: 700px;
		width: 500px;
		border-radius: 10px
	}

	.Content {
		margin-left: 40px;
		margin-top: 120px;
		h1 {
			font-size: 60px;
			text-align: center;
		}
		h3 {
			font-size: 25px;
			text-align: center;
		}
		p {
			margin-top: 90px;
			padding: 55px;
		}
		button {
			display: flex;
			margin: auto;

		}
	}
}