.NavigationItem {
	margin:  0;
	box-sizing: border-box;
	display: flex;
	width: auto;
	height: 100%;
	align-items: center;

	a {
		padding: 16px 10px;
		color: rgb(11, 109, 101);
		text-decoration: none;
		font-family: 'Chela One', cursive;
		font-size: 1.2rem;
		width: 100%;//
		height:100%;
		border-bottom: 4px solid transparent;		
		box-sizing: border-box;
		display: block;
		font-size: 19px;

		&:hover {
			//background-color: rgb(109, 218, 127);
			color: rgb(116, 195, 231);
		}

		&:active,
		&.active {
			//background-color: rgb(18, 189, 46);
			border-bottom: 4px solid rgb(63, 71, 14);
			color: white;
		}

	}
}
