.Header {
	height: 50px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #7ec743;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	box-sizing: border-box;
	z-index: 90;
	border-radius: 0 0 10px 10px;
	
	nav {
		height: 100%;
	}

	img {
		height: 40px;
		width: 75px;
		display: inline-block;
	}
}

