.Input {
	margin: auto;
	width: 85%;
	padding: 10px;
	box-sizing: border-box;

	&:first-of-type {
		padding-top: 40px;
	}
}

.Label {
	font-weight: bold;
	display: block;
	text-align: left;
	margin-bottom: 2px;
}

.InputElement {
	outline: none;
	border: 1px solid #ccc;
	background-color: white;
	font: inherit;
	padding: 6px 10px;
	margin: 0;
	width: 100%;
	display: block;
	box-sizing: border-box;

	&:focus {
		outline: none;
		background-color: #ccc;
	}
}
