.Background1 {
	position:fixed;
	display: flex;
	//background-color: #eee;
	justify-content: center;
	align-items: center;
	top:	50px;
	left:	0;
	height: calc(100vh - 50px) ;
	width: 100vw;
	// background-color: red;
	z-index: -1000;
}

.Auth {
	margin: 20px auto;
	width: 500px;
	text-align: center;
	box-shadow: 0 2px 3px #ccc;
	border: 1px solid#eee;
	border-radius: 10px;
	padding: 10px;
	box-sizing: border-box;
	background-color: white;
	z-index: 100px;

	h1 {
		margin-top: 40px;
	}
	
	button {
		margin-top: 40px;
	}
}