.Book {	
	background-color: rgb(255, 255, 255);
	width: 275px;
	cursor: pointer;
	border: 1px dotted rgb(8, 0, 0);
	/* box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15); */
	box-sizing: border-box;
	display: inline-block;
	margin: 20px 1%;
	border-radius: 15px;
	
	&:hover {	
		box-shadow: 1px 1px 40px rgba(119, 65, 245, 0.4);
	}
	
	img {
		width: 250px;
		height: 400px;
		margin: 10px auto;
		margin-bottom: 0;
		display: block;
		border-radius: 8px;
	}
	
	 p {
		margin: 16px;
		font-size: 1.2rem;
		font-weight: bold;
		text-align: center;
		margin: 2px;
	}
}

